
<form [formGroup]="formulario" >
    <div class="container">
        <div class="col1">
        <button mat-raised-button  color="primary" type="button" (click)="add()" >Adicionar </button>
        </div>

        <div class="col2" formArrayName="input1">
            <div class="formu"  *ngFor="let in of getInputs.controls; let i =  index"  [formGroupName]="i">
                <mat-form-field class="example-full-width" appearance="outline" >
                    <input  
                    matInput
                    #message
                    maxlength="15"
                    placeholder="Ingrese texto"
                    formControlName="textoNuevo" 
                    >
                  </mat-form-field>
                  <!-- <small *ngIf="in.invalid">No es correcto</small> -->
                    
                      <button mat-raised-button class="btncajac" (click)="limpiar(i)">Limpiar </button> 
                      <button mat-raised-button class="btncajad" (click)="deleteInput(this.getInputs.value.i)">Eliminar</button>
            </div>
        </div>

        <div class="col3">
            <mat-form-field class="example-full-width" appearance="outline">
                <textarea disabled matInput  cols="50" 
                rows="10">{{toShow()}} 
                </textarea>
              </mat-form-field>
        </div>
        <div class="col4">
            <button mat-raised-button type="button" type="reset" (click)="clearInputReact()" >Limpiar todo</button> 
        </div>
        <div class="col5">
            <button mat-raised-button  (click)="save()" >Guardar</button>
            
            <button mat-raised-button type="reset" (click)="clearMulti()" >Limpiar Lista </button> 
        </div>
    </div>
</form>
