.container{
    width: 80%;
    margin: 10%;
}

.col1{
    float: left;
    width: 15%;
    text-align: center;
}

input {
    margin-top: 10px;
    height: 30px;
    float: left;
    font-size: 20px;    
    
}

.col1 button{
    margin: 2px;
    font-size: 20px;    
    background-color: black;
    color: white;
}


.col2{
    float: left;
    width: 25%;
    font-size: 17px;

}



.col3{
    float: left;
    width: 25%;
    text-align: center;
}

.col3 button{
    margin: 6px;
    font-size: 15px;    
}

.col3 textarea{
    padding: 15px 0;
    font-size: 20px;
}

.col4{
    float: left;
    width: 15%;
}



.col5{
    float: left;
    width: 15%;
}

.col5 button{
    margin-bottom: 10px;
    padding: 3px 20px;
}


.formu{
    text-align: center;
}

.formu input{
    font-size: 25px;
    height: 37px;
}



button {
    background-color: black;
    color: white;
    margin: 10px;
    font-size: 17px;

}

