<div class="principal">
    <form
    [formGroup]="form" 
    class="conboton">
        <div class="fila1">
            <button 
            class="btnadicion" 
            mat-button 
            (click)="addMaterial()">+</button>
            <button 
            class="btneliminar" 
            mat-button 
            (click)="deleteAll()"
            >Eliminar todo</button>
        </div>
        <div class="containerprin"  formArrayName="utiles">
            <div class="contenido1"   *ngFor="let s of getUtiles.controls; let i = index " [formGroupName]="i">
                <mat-form-field appearance="outline">
                    <mat-label>Utiles Escolares</mat-label>
                    <input 
                    matInput 
                    placeholder="Placeholder" 
                    formControlName="utilNuevo"
                    >
                </mat-form-field>
                <!-- <small *ngIf="validacion">Solo se admiten letras</small>    -->
                <mat-checkbox 
                formControlName="check"
                >Aceptar</mat-checkbox>
                  
                <button 
                class="btneliminar22" 
                mat-button
                (click)="deleteUtilEscolar(i)"
                >Eliminar</button>
                
            </div>

        </div>
        <br>
        <div class="fila3">
            <button 
            class="btnguardar" 
            mat-button
            (click)="guardar()"
            >Guardar</button>
            <button 
            class="btnlimpiar" 
            mat-button
            (click)="limpiar()"
            >Limpiar</button>
        </div>

        <div class="textT">
            <textarea disabled>
                {{mostrar()}}
             </textarea>
          </div>
      </form>
        
    
  </div>
