.principal{
  width: 100%;
  /*  background-color: aquamarine; */
  display: flex;
  justify-content: center;
}
.conboton{
  width: 50%;
  /*  background-color: black; */
  display: flex;
  flex-direction: column;
}
.fila1{
  margin-bottom: 20px;
  height: 20%;
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* .fila2{
  height: 60%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

} */

.containerprin{
  display: flex;
  flex-direction: column ;
}

.fila3{
  margin-top: 20px;
  height: 20%;
  width: 100%;
  /*  background-color: antiquewhite; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btnadicion{
  background-color: rgb(25, 71, 223);
  color: white;
  border-radius: 6px;
  height: 40px;
  margin-top: 20px;
  font-size: 30px;
}
.btneliminar{
  border: 2px solid red;
  color: red;
  border-radius: 6px;
  height: 40px;
  margin-top: 20px;
}
.btnguardar{
  border: 2px solid green;
  color: green;
  border-radius: 6px;
  height: 40px;
}
.btnlimpiar{
  border: 2px rgb(50, 151, 202) solid;
  color: rgb(50, 151, 202);
  border-radius: 6px;
  height: 40px;
}
.contenido1{
  
  /*  background-color: antiquewhite; */
  display: flex;
  justify-content: space-around;
  /**/
  margin: 10px;
  width: 90%;
  height: 100px;
  border: 2px silver;
  border-style: dotted;
  flex-direction: row;
}
.btneliminar22{
  background-color: red;
  color: white;
  border-radius: 6px;
  height: 40px;
  margin-top: 25px;
}

.mat-form-field{
  margin-top: 25px;

}

.mat-checkbox {
  margin-top: 40px;
}

.textT{
  height: 60%;
  width: 100%;
  /*  background-color: antiquewhite; */
  display: flex;
  flex-direction: row;
}

textarea{
  margin: 20px;
  text-align:left;
  height: 200px;
  width: 90px;
}
  

