.conatiner{
    width: 900px;
    background-color: red;
}



.box{
    height: 200px;
    margin: 10px;
    float: left;
    width: 30%;
    text-align: center;
}

.containerBut{
    text-align: center;
}

.containerBut .btn{
    font-size: 30px;
    padding: 10px;
}


.in-form1{
    height: 25px;
    font-size: 22px;
}


.btn{
    background-image: linear-gradient(15deg, #8bc2e2 0%, #9643bd 100%);
    border-color: #10d3ec;
    border-radius: 1ex;
    color:white;
    width: 155px;
    height: 50px;
    font-size: 25px;
}

.buttonSub{
    background-color: rgb(147, 78, 187);
    color: aliceblue;
    padding: 30px;
    font-size: 50px;
    border-radius: 1ex;

}


.form2-list{
    float: left;
    width: 70%;
}


.btn-form2{
    float: left;
    width: 15%;
    text-align: center;
}


.btn-l{
    padding: 14px 20px ;
    margin: 20px;
}

.btn-r{
    padding: 14px;
    margin: 20px;


}

/* formulario tres : */

h3{
    padding: 20px;
}