<mat-tab-group  class="form1" mat-align-tabs="start">
    <!--primer formulario--------------------------------------------------->
    <mat-tab class="form1" label="Formulario 1" >

       <form [formGroup]="form"  >
            <div class="container" formArrayName="listatexto">
                 <div class="box"  *ngFor="let t of getListaform1.controls; let i = index " [formGroupName]="i">
                    <mat-form-field appearance="outline">
                        <input class="in-form1" matInput placeholder="" (keyup)="ponerValor($event,i)" formControlName="texto">
                    </mat-form-field>
                    <br>
                    <input class="btn" type="button" formControlName="buttonValue">
                </div> 
            </div>  
           <div class="containerBut">
            <button class="buttonSub" mat-button (click)="guardarAForm2()">Guardar</button>
           </div>
       </form>      

    </mat-tab>
    <!--segundo formulario--------------------------------------------------->
    <mat-tab label="Formulario 2" >
        <div class="form2-list">
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option *ngFor="let texto of lista;let i =index" [value]="texto" (click)="eliminar(i)">
                    {{texto}}
                </mat-list-option>
                </mat-selection-list>
        </div>
        <div class="btn-form2">
        <button mat-raised-button color="primary" class="btn-l" (click)="clear()">Limpiar</button>
        <button mat-raised-button color="primary" class="btn-r" (click)="addAll()">Adicionar</button>
    
        </div>
    </mat-tab>

    <!--tercer formulario--------------------------------------------------->
    <mat-tab label="Formulario 3" >

        <h3>Se tiene los siguientes elementos :</h3>
        <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let texto of listaOficial; let i = index">{{i+1}}.- {{texto}} </mat-list-item>
        </mat-list>

    </mat-tab>
    
  </mat-tab-group>