<div class="container">
    
<form [formGroup]="form" (ngSubmit)="add()">
    <div class="all">
        <div class="col1" >
        <mat-label>Cantidad de niveles : </mat-label>
        <mat-form-field appearance="outline">
            <input
        matInput
        type="number"
        formControlName="niveles"
        name="niveles"
        min="1"
        max="100"
                >
            </mat-form-field>
            <button class="btn" mat-raised-button type="submit" [disabled]="form.invalid">Agregar</button>
        </div>

        <div class="col1-1" >
        <mat-label>Cantidad de Repeticiones : </mat-label>
        <mat-form-field appearance="outline">
                <input
            matInput
            type="number"
            formControlName="repeticiones"
            name="niveles"
            min="1"
            max="100"
            >
        </mat-form-field>
        </div>
  
      <div class="colI">
        <div class="valores">

            <div class="valor">
                <label for="uno">Valor 1: </label>
                <mat-form-field appearance="outline">
                <input 
                id="uno" 
                matInput 
                formControlName="valor1"
                >
                <span *ngIf="form.get('valor1')?.invalid && form.get('valor1')?.touched">La caja de texto esta vacía</span>
                </mat-form-field>
                <br>
                
            </div>

            <div class="valor">
                <label for="dos">Valor 2: </label>
                <mat-form-field appearance="outline">
                <input 
                id="dos" 
                matInput
                formControlName="valor2"
                >
                <span *ngIf="form.get('valor2')?.invalid && form.get('valor2')?.touched">La caja de texto esta vacía</span>
                </mat-form-field>
            </div>
    
          </div>
      </div>
      
      <div class="colD">    
        <div class="valores">

        <div class="valor">
            <label for="tres">Valor 3: </label>
            <mat-form-field appearance="outline">
            <input 
            id="tres" 
            matInput
            formControlName="valor3"
            >
            </mat-form-field>
        </div>

        <div class="valor">
            <label for="cuatro">Valor 4: </label>
            <mat-form-field appearance="outline">
            <input 
            id="cuatro" 
            matInput
            formControlName="valor4"
            >
            </mat-form-field>
        </div>

          </div>
      </div>
    </div>
  
    <div class="example-ripple-container mat-elevation-z4 grupo">
    <mat-tree  [dataSource]="dataSource" [treeControl]="controlT" class="example-tree">
        <mat-tree-node *matTreeNodeDef="let n" matTreeNodeToggle>
        {{n.name}}
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
            <button type="button" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
                {{ controlT.isExpanded(node) ? 'expand_more': 'chevron_right' }}
            </mat-icon>
            </button>
            {{node.name}} 
        </div>
        
        <div [class.example-tree-invisible]="!controlT.isExpanded(node)" class="nested-node" role="group">
            <ng-container matTreeNodeOutlet> </ng-container>
        </div>
        </mat-nested-tree-node>
    </mat-tree>
    </div>

  </form>
</div>
