.container{
    width: 55%;
}



.col1, .col1-1{
    padding: 15px;
}

input{
    font-size: 20px;
}

.colI{
    float: left;
    padding: 10px;
}

.colD{
    float: left;
    margin-left: 20px;
    padding: 10px;

}

.btn{
    display: inline;
    margin-left: 10px;
    padding-top: 0;
    padding: 10px 25px ;
    background-color: rgb(58, 10, 70);
    color: white;
}




